<nav>
    <% if(isLoggedIn) { %> 
        <a href="/tutor/logout">Logout</a>
    <% }else{ %> 
        <a href="/tutor/login">Login</a>
        <a href="/tutor/register">Register</a>
    <% } %> 
</nav>