<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/style.css">
    <title>E-Tutor</title>
</head>
<body>
    <div class="banner">

    </div>
    <div class="overlay"></div>

    <div class="content d-flex flex-column justify-content-center align-items-center text-light">
        <p class="display-1 mb-3">E-Tutor</p>
        <p class="h1">An Online Course and Class Platform</p>
        <div class="my-3"></div>
        <p class="h3 mb-4">Join today</p>
        <div>
            <a href="/student/" class="btn btn-primary btn-lg mx-3">I am a Student</a>
            <a href="/tutor/"class="btn btn-success btn-lg mx-3">I am a Tutor</a>
        </div>
    </div>
</body>
</html>