<%- include('../partials/header.ejs') -%>
<%- include('./partials/tutorNav.ejs') -%>

<h1 class="text-center text-center">Create Class</h1>

<div class="container mt-5">
    <form action="/tutor/create_class" method="POST" enctype="multipart/form-data">
        <div class="row justify-content-around">
            <div class="col-sm-4">

                <img class="img-fluid" src="/images/placeholder.jpg" alt="">

                <div class="mb-3">
                    <label for="class-banner" class="form-label">Upload Class Banner Picture</label>
                    <input class="form-control" name="class-banner" type="file" id="class-banner">
                </div>

            </div>

            <div class="col-sm-4">

                <div class="mb-3">
                    <label for="title" class="form-label">Class Title</label>
                    <input type="text" class="form-control" name="title" placeholder="Choose a suitable class title" id="title">
                </div>
                
                <div class="mb-3">
                    <label for="description" class="form-label">Class Description</label>
                    <textarea class="form-control" name="description" id="description" rows="3" placeholder="Describe what the class is about. What will be taught and how is this different from other classes"></textarea> 
                </div>

                <div class="mb-3">
                    <label for="fee" class="form-label">Class fee per hour</label>
                    <input type="number" class="form-control" name="fee" id="fee">
                </div>

                <div class="mb-3">
                    <label for="tags" class="form-label">Enter 3 tags separated by (,) coma</label>
                    <input type="text" class="form-control" name="tags" id="tags" placeholder="e.g. programming, html, web-development">
                </div>


            </div>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-lg btn-success">Create Class</button>
        </div>
    </form>
</div>




<%- include('../partials/footer.ejs') %>