<nav class="navbar navbar-dark bg-dark navbar-expand-sm mb-5">
    <div class="container">
        <a class="navbar-brand" href="/tutor/">E-Tutor</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">

            <% if(isLoggedIn) { %> 
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/tutor/profile">Profile</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/tutor/classes">My Classes</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/tutor/enrolled_classes">Scheduled Classes</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/tutor/logout">Logout</a>
                  </li>
            <% }else{ %> 
                <li class="nav-item">
                    <a class="nav-link" href="/tutor/login">Login</a>
                  </li>
                <li class="nav-item">
                  <a class="nav-link" href="/tutor/register">Register</a>
                </li>
            <% } %> 


          </ul>
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
</nav>